[alias]
    dlog = -c diff.external=difft log --ext-diff
    dshow = -c diff.external=difft show --ext-diff
    ddiff = -c diff.external=difft diff

[color]
    ui = true

[init]
	defaultBranch = main

[user]
	name = maxence

[include]
    path = ~/.gitconfig.local
