*.pdf
__pycache__/

home/kitty/.config/kitty/theme.conf
home/kitty/.config/kitty/current-theme.conf
home/kitty/.config/kitty/*.bak

home/nvim/.config/nvim/nvim-pack-lock.json

tags

home/ranger/.config/ranger/plugins/*
!home/ranger/.config/ranger/plugins/fzf_commands.py
!home/ranger/.config/ranger/plugins/kitty_tmux_fix.py

home/vscode/.config/Code/**
!home/vscode/.config/Code/User/
!home/vscode/.config/Code/User/settings.json
