#!/bin/bash

set -o errexit
set -o nounset

nix_config_hash="{{ list (include "../nix/flake.nix") (include "../nix/flake.lock") (include "../nix/home.nix") (include "../nix/packages.nix") | join "" | sha256sum }}"
flake_dir="${CHEZMOI_WORKING_TREE}/nix"

echo "==> Applying home-manager configuration (${nix_config_hash:0:12})"

export PATH="${HOME}/.nix-profile/bin:${PATH}"

system="$(nix --extra-experimental-features 'nix-command flakes' eval --impure --raw --expr builtins.currentSystem)"
configuration="${USER}-${system}"

if command -v home-manager >/dev/null; then
	home-manager switch --flake "${flake_dir}#\"${configuration}\"" -b backup
	exit
fi

activation="$(nix --extra-experimental-features 'nix-command flakes' build --no-link \
	--print-out-paths "${flake_dir}#homeConfigurations.\"${configuration}\".activationPackage")"
HOME_MANAGER_BACKUP_EXT=backup "${activation}/activate"
