[Desktop Entry]
Type=Application
Name=Gnome dconf sync
Comment=Load GNOME keyfiles into dconf and prune stale keys
Exec=sh -c '"$HOME/.local/bin/gnome-dconf-sync"'
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=false
